<main>
  <section class='page-header'>
    <h2 class='page-title'>Update Shelter: <%= @shelter.name %></h2>
  </section>
  <section>
    <div id="flash-alert">
      <% if !!flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
    </div>

    <%= form_tag "/shelters/#{@shelter.id}", method: :patch, class: 'edit-form' do %>
      <%= text_field_tag :name, @shelter.name, placeholder: 'Name' %><br>
      <%= text_field_tag :address, @shelter.address, placeholder: 'Address' %><br>
      <%= text_field_tag :city, @shelter.city, placeholder: 'City' %><br>
      <%= text_field_tag :state, @shelter.state, placeholder: 'State' %><br>
      <%= text_field_tag :zip, @shelter.zip, placeholder: 'Zip' %><br>
      <%= submit_tag 'Save', class: 'submit' %>
    <% end %>
  </section>
</main>
