<main>
  <section class='page-options'>
    <h2 class='page-title'>Add New Shelter</h2>
  </section>
  <section>
    <div id="flash-alert">
      <% if !!flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      <% end %>
    </div>
    
    <%= form_tag '/shelters', class: 'edit-form' do %>
      <%= text_field_tag :name, nil, placeholder: 'Name' %><br>
      <%= text_field_tag :address, nil, placeholder: 'Address' %><br>
      <%= text_field_tag :city, nil, placeholder: 'City' %><br>
      <%= text_field_tag :state, placeholder: 'State' %><br>
      <%= text_field_tag :zip, placeholder: 'Zip Code' %><br>
      <%= submit_tag 'Add Shelter', class: 'submit' %>
    <% end %>
  </section>
</main>
