<main>

  <section id='shelter'>
    <section class='page-header'>
      <h2 class='page-title'><%= @shelter.name %></h2>
      <p>Number of Pets Available: <%= @shelter.num_of_pets %></p>
      <%= link_to 'See Pets', "/shelters/#{@shelter.id}/pets" %>
    </section>

    <div class='text-details'>
      <p><%= @shelter.address %><br>
        <%= @shelter.city %>, <%= @shelter.state %><br>
        <%= @shelter.zip %>
      </p>
    </div>
    <br>
    <div>
  <p>Applications on file: <%= @shelter.num_of_applications %></p>
    </div>
    <div class='options'>
      <%= link_to 'Update', "/shelters/#{@shelter.id}/edit" %>
      <%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete %>
    </div>

    <div id="flash-alert">
      <% if !!flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
    </div>

  </section>

  <section id='reviews'>

    <div class='page-header'>
      <h3 class='page-title'>Reviews</h3>
      <p>Average Rating: <%= @shelter.average_rating.round(2) %>/5.0 </p>
      <%= link_to 'Write Review', "/shelters/#{@shelter.id}/reviews/new" %>
    </div>

    <% @reviews.each do |review| %>
    <div class='review-details'>
      <h4><%= review.title %></h4>
      <p><%= review.rating %> / 5</p>
      <p><%= review.content %></p>
      <%= image_tag(review.picture, alt: "review photo", method: :get) %><br>
      <div class='options'>
        <%= link_to 'Edit', "/reviews/#{review.id}/edit" %>
        <%= link_to 'Delete', "/reviews/#{review.id}", method: :delete %>
      </div>
    </div>
    <% end %>

  </section>
</main>
