<main>
  <section class='page-header'>
    <h2 class='page-title'>Favorite Pets</h2>
    <% if @fav_pet_objects != [] %>
    <span class='header-options'>
      <%= link_to 'Remove All Pets', "/favorites", method: :delete %>
      <span> | </span>
      <%= link_to 'Adopt Favorited Pets', "/favorites/adoption/new" %>
    </span>
    <% else %>
    <% end %>
  </section>

  <section id='pets-index'>

    <% if @fav_pet_objects != [] %>
      <% @fav_pet_objects.each do |pet| %>
        <div class='pet-card'>
          <%= image_tag(pet.image, alt: "photo of pet", method: :get) %>

          <div class='pet-details'
            <a><%= link_to "#{pet.name}", "/pets/#{pet.id}", class: 'pet-name' %></a>
            <p><%= pet.approx_age %> year(s), <%= pet.sex %></p>
            <p><%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}", class: 'pet-shelter' %></p>
          </div>
          <div class='options'>
            <%= link_to 'Remove', "/favorites/#{pet.id}", method: :delete %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You have no favorite pets.</p>
    <% end %>
  </section>
</main>
