<main>
  <section class='page-header'>
    <h2 class='page-title'>Submit your application below</h2>
  </section>
  <div id="flash-alert">
    <% if !!flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>
  <div id="flash-alert">
    <p><%= flash.now[:notice] %></p>
  </div>
  <section>
    <%= form_tag "/applications", class: 'edit-form' do %>
    <p>Select which pet/pets you'd like to apply for:</p><br>
    <% @fav_pet_objects.each do |pet| %>
      <%= check_box_tag 'pet_ids[]', pet.id %>
      <label for=<%= "#{pet.name}" %>><%= pet.name %></label><br>
    <% end %>
    <br><br>
    <p>Enter your personal information below:</p><br>
      <%= text_field_tag :name, nil, placeholder: 'Name' %><br>
      <%= text_field_tag :address, nil, placeholder: 'Address' %><br>
      <%= text_field_tag :city, nil, placeholder: 'City' %><br>
      <%= text_field_tag :state, nil, placeholder: 'State' %><br>
      <%= text_field_tag :zip, nil, placeholder: 'Zip Code' %><br>
      <%= text_field_tag :phone_number, nil, placeholder: 'Phone Number' %><br>
      <%= text_field_tag :reason, nil, placeholder: 'Reason you\'ll make a good pet parent!' %><br>
      <%= submit_tag 'Submit Application', class: 'submit' %>
    <% end %>
    </section>
</main>
