<main>
  <section class='page-header'>
    <h2 class='page-title'>Application for: <%= @application.name %></h2>
  </section>

  <div id='app-detail'>
    <p><%= @application.address %></p>
    <p><%= @application.city %>, <%= @application.state %></p>
    <p><%= @application.zip %></p><br>
    <small>Phone Number:</small>
    <p><%= @application.phone_number %></p><br>

    <small>Adoption Reason:</small>
    <p><%= @application.reason %></p>
  </div>
  <section id='list-section'>
    <div class='page-header'>
      <h3 class='page-title'>Current Pets Requested</h3>
    </div>
      <% @application.pets.each do |pet| %>
        <div class='pet-list'>
          <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
          <span class='options'>
            <% if @application.can_approve(pet) %>
              <%= link_to 'Approve', "/applications/#{@application.id}?pet_id=#{pet.id}", method: :patch %>
            <% elsif @application.can_unapprove(pet) %>
              <%= link_to 'Unapprove', "/applications/#{@application.id}?pet_id=#{pet.id}", method: :patch %>
            <% else %>
              <span>An application is already pending.</span>
            <% end %>
          </span>
        </div>
      <% end %>
  </section>
</main>
