<main>
<section class='page-options'>
  <h2 class='page-title'>Add New Pet</h2>
</section>
<section>
  <%= form_tag "/shelters/#{@shelter.id}/pets", class: 'edit-form' do %>
    <%= text_field_tag :name, nil, placeholder: 'Name' %><br>
    <%= text_field_tag :approx_age, nil, placeholder: 'Age' %><br>
    <%= text_field_tag :description, nil, placeholder: 'Description' %><br>
    <%= text_field_tag :sex, nil, placeholder: 'Sex' %><br>
    <%= text_field_tag :image, nil, placeholder: 'Image URL' %><br>
    <%= text_field_tag :status, 'Adoptable', placeholder: 'Adoptable', :readonly => true %><br>
    <%= submit_tag 'Save Pet', class: 'submit' %>
  <% end %>
</section>
</main>
