<main>
  <section class='page-header'>
    <h2 class='page-title'><%= @pet.name %></h2>
    <span>status: <strong><%= @pet.status %></strong></span>
  </section>
  <div id="flash-alert">
    <% if !!flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div id='on-hold'>
    <% if @pet.status == :pending %>
      <% app = @pet.applications.select do |application| %>
        <% application.find_app_pet(@pet)[0].approve == true %>
      <% end %>
      <p>This pet is currently on hold for: <%= app[0].name %> </p>
    <% end %>
  </div>

  <section id='pet-detail'>

    <%= image_tag(@pet.image, alt: "photo of pet", method: :get, class: 'pet-image') %>

    <p><%= @pet.approx_age %> year(s), <%= @pet.sex %><br>
    <%= @pet.description %></p>

    <div class='options'>
      <%= link_to 'Update', "/pets/#{@pet.id}/edit" %>
      <%= link_to 'Delete', "/pets/#{@pet.id}", method: :delete %>
      <% if @fav_pet_objects.include?(@pet.id) %>
        <%= link_to 'Remove pet from favorites', "/favorites/#{@pet.id}", method: :delete %>
      <% else %>
        <%= link_to 'Add pet to favorites', "/favorites/#{@pet.id}", method: :post %>
      <% end %>
      <%= link_to 'See Applicants', "/applications?pet_id=#{@pet.id}" %>
    </div>
  </section>

</main>
