<main>
  <section class='page-header'>
    <h2 class='page-title'>Edit Review</h2>
  </section>

  <section>
    <div id="flash-alert">
      <% if !!flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= error %></p>
      <% end %>
      <% end %>
    </div>

    <%= form_tag "/reviews/#{@review.id}", method: :patch, class: 'edit-form' do %>
      <%= text_field_tag :title, @review.title, placeholder: 'Title' %><br>
      <%= text_field_tag :rating, @review.rating, placeholder: 'Rate Shelter 0-5' %><br>
      <%= text_field_tag :content, @review.content, placeholder: 'Write your review here.' %><br>
      <%= text_field_tag :picture, @review.picture, placeholder: 'Image URL (optional)' %><br>
      <%= submit_tag 'Save Review', class: 'submit' %>
    <% end %>
  </section>
</main>
